# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS files
.DS_Store
Thumbs.db

# Unity crash reports
sysinfo.txt

# ML-Agents training results
results/
summaries/
*.tmp

# Python / Anaconda
__pycache__/
*.pyc
.env/
venv/
mlagents/
*.unitypackage
*.unitypackage.meta
